/* HEADER-TOP-SOCIAL */
header .header__social a:not(:last-child) {
    margin-right: 17px;
    transition-duration: var(--time-anim);
}

/* HEADER-TOP-LANGUAGE */
header .header__language-switch {
    display: flex;
}
header .header__language-switch li:not(:last-child) {
    margin-right: 21px;
}
header .header__language-switch li button {
    color: var(--color__grey);
    font-size: 11px;
    text-transform: uppercase;
    transition-duration: var(--time-anim);
}

/* HEADER-NAV */
#mob-menu {
    display: none;
    cursor: pointer;
}
#mob-menu {
    width: 20px; height: 20px;
    position: relative;
}
#mob-menu span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #181819;
    transition: .3s ease-in-out;
}
#mob-menu span:nth-child(1) {
    top: 0;
}
#mob-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
#mob-menu span:nth-child(3) {
    bottom: 0;
}

#mob-menu.is-close span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}
#mob-menu.is-close span:nth-child(2) {
    display: none;
}
#mob-menu.is-close span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}

header .header__nav li span {
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--color__black);
}
header .header__nav a {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color__black);
    transition-duration: var(--time-anim);
}

/* VIDEO */
.video {
    width: 100%;
    position: relative;
}
.video .play-control {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    right: 60px;
    bottom: 40px;
    z-index: 2;
    cursor: pointer;
}

/* NEW PROJECTS */
main .new-projects {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
main .new-projects > :first-child {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}
main .new-projects > :first-child:before,
main .new-projects > :first-child:after {
    content: "";
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--color__black);
    margin: 30px;
}
main .new-projects ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;
    text-align: center;
}
main .new-projects figcaption {
    font-size: 18px;
    color: var(--color__black);
    margin-top: 20px;
}

/* NEW DESCRIPTIONS */
main .service-description {
    background-color: var(--color__grey--light3);
    padding-top: 30px;
}
main .service-description > div {
    flex-direction: column;
    align-items: center;
}
main .service-description > div > :first-child {
    margin-bottom: 40px;
    text-align: center;
}
main .service-description p {
    font-size: 15px;
    margin-bottom: 30px;
}
main .service-description button {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--color__black);
    padding-bottom: 5px;
    margin-bottom: 60px;
}

/* FOOTER */
footer .footer__social a:not(:last-child) {
    margin-right: 20px;
}
footer .footer__copyright {
    color: var(--color__grey--light1);
    font-size: 13px;
    text-align: center;
}