header .header__social a:hover path {
    fill: var(--color__grey);
}
header .header__language-switch li button:hover {
    color: var(--color__black);
}
header .header__nav a:hover {
    text-decoration: underline;
    color: var(--color__grey);
}
main .new-projects img:hover {
    transition-duration: var(--time-anim);
    filter: brightness(0.8);
}
main .service-description button:hover {
    border-color: transparent;
}
footer .footer__social a:hover path {
    transition-duration: var(--time-anim);
    fill: var(--color__grey--light1);
}


.is-active {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100% !important;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: block !important;
    padding-top: 50px;
    padding-bottom: 100px;
}
.is-active ul {
    flex-direction: column;
}
.is-active ul li:nth-child(even) {
    display: none;
}
.is-active ul a {
    font-size: inherit;
}
.is-active #mob-menu--close {
    display: block !important;
}

.is-select_nav a {
    text-decoration: underline !important;
    color: var(--color__grey) !important;
}
.is-select_lang button {
    text-decoration: underline !important;
    color: var(--color__black) !important;
}
.is-select_lang {
    position: relative;
}
.is-select_lang:before {
    content: "";
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--color__grey--dark1);
    position: absolute;
    left: calc(50% - 1.5px);
}