.container {
    max-width: var(--container);
    margin: 0 auto;
    height: 100%;
}
.container-min {
    max-width: var(--container-min);
    margin: 0 auto;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header__top {
    height: 94px;
}
header .header__nav {
    height: 57px;
}
video {
    width: 100%;
}
footer {
    height: 62px;
}