header .header__top {
    height: 94px;
}
header .header__social svg:not(:last-child) {
    margin-right: 17px;
}
header .header__language-switch {
    display: flex;
}
header .header__language-switch li:not(:last-child) {
    margin-right: 21px;
}
header .header__language-switch li {
    font-size: 11px;
    text-transform: uppercase;
}

header .header__nav {
    height: 57px;
    border-top: 1px solid var(--color__grey--light2);
}
header .header__nav li span {
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--color__black);
}
header .header__nav a {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color__black);
}
header .header__nav a:hover {
    text-decoration: underline;
}

main .new-projects {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
main .new-projects ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;
    text-align: center;
}
main .new-projects figcaption {
    font-size: 18px;
    color: var(--color__black);
    margin-top: 20px;
}

main .service-description {
    background-color: var(--color__grey--light3);
}
main .service-description > div {
    flex-direction: column;
    align-items: center;
}
main .service-description > div :first-child {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}
main .service-description p {
    font-size: 15px;
    margin-bottom: 30px;
}
