body {
    font-family: centurygothic;
    color: var(--color__black);
}
header .header__nav {
    border-top: 1px solid var(--color__grey--light2);
}
footer {
    background-color: var(--color__grey--dark1);
}